<div class="panel panel-default pool-info-panel">
	<div class="panel-heading">General UBIQ & Mining Links</div>
	<div class="panel-body">
			
		<ul class="list-group">
			<li class="list-group-item"><a href="http://ubiqsmart.com/" target="_blank">UBIQ Homepage</a></li>
			<li class="list-group-item"><a href="https://bitcointalk.org/index.php?topic=1763606.0" target="_blank">Bitcoin talk announcement thread</a></li>
			<li class="list-group-item"><a href="http://ubiq.darcr.us" target="_blank">Network Stats</a></li>
			<li class="list-group-item"><a href="https://github.com/ubiq/go-ubiq" target="_blank">BitBucket</a></li>
			<li class="list-group-item"><a href="http://62.212.74.86/~mining/list/index.php" target="_blank">Mining Hardware ( GPU ) Comparison</a></li>
		</ul>

	</div>
</div>

<hr/>

<div class="panel panel-default pool-info-panel">
	<div class="panel-heading">Ethminer</div>
	<div class="panel-body">
		<div class="alert alert-danger" role="alert">
			<span class="label label-danger">WARNING!</span> Do not use Catalyst 16.3 drivers
		</div>
		<hr\>
		<h5><a href="https://ethereum.org/cli" target="_blank">Download from Ethereum</a> - <span class="label label-primary">Source / Binaries</span></h5>
		<h5><a href="http://cryptomining-blog.com/5417-getting-started-with-ethereum-using-cpp-ethereum/" target="_blank">Guide</a> - <span class="label label-primary">Windows</span></h5>
		<h5><a href="http://spacience.blogspot.de/2015/05/ethereum-gpu-mining-ubuntu-1404-lts.html" target="_blank">Guide</a> - <span class="label label-primary">Linux</span></h5>
	</div>
</div>

<hr/>

<div class="panel panel-default pool-info-panel">
	<div class="panel-heading">Stratum Proxy</div>
	<div class="panel-body">

	</div>
</div>


