<hr/>

<div class="panel panel-default">
  <div class="panel-body">
    <table id="pool-info-table">
      <tr>
        <td colspan="2"><h3>Pool Fee lowered to .5%</h3>
      </tr>
      <tr>
       <td width="50%">
	<h5><span class="label label-success">NEW</span> Email alerts for offline workers</h5>
	<h5><span class="label label-info">Info</span> .25 UBQ minimum payment</h5>
	<h5><span class="label label-info">Info</span> Hourly Payments</h5>
	<h5><span class="label label-info">Info</span> 0.5% Pool Fee</h5>
	<h5><span class="label label-info">Info</span> Now supporting NiceHash</h5>
       </td>
       <td width="50%">
	<h5><span class="label label-info">Info</span> Transaction fees paid by pool</h5>
	<h5><span class="label label-info">Info</span> Full payout including uncles </h5>
	<h5><span class="label label-info">Info</span> Anonymous mining - no login required</h5>
	<h5><span class="label label-info">Info</span> Miner stats right on explorer page</h5>
       <td>
      </tr>
     </table>
  </div>
</div>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Stratum Mining</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <div  layout-xs="column" layout="row">

            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text><span class="md-title">Small Miners</span></md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">2000MH</span>
                            Low Difficulty
                          </li>
                          <li class="list-group-item">
                            stratum.ubiq.cc:8009
                          </li>
                        </ul>	
                    </md-card-content>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text><span class="md-title">Large Miners</span></md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">9000MH</span>
                            High Difficulty
                          </li>
                          <li class="list-group-item">
                            stratum.ubiq.cc:8008
                          </li>
                        </ul>	
                    </md-card-content>
                </md-card>
            </div>

        </div>
    </md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Supported Software</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <div  layout-xs="column" layout="row">

            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text><span class="md-title">Ubiq Miner</span></md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">v0.17.0-alpha.1+</span>
                            <a href="https://github.com/ubiq/ubqminer/releases" target="_blank">Releases</a>
                          </li>
                          <li class="list-group-item">
                            Examples
                          </li>
                          <li class="list-group-item">
				<i>Windows:</i>
				<pre>ubqminer.exe -P stratum1+tcp://0x18520a8aaf5142e0d788db696bb46124b2e7bb9b.rig1@stratum.ubiq.cc:8008</pre>
				<i>Linux:</i>
				<pre>./ubqminer -P stratum1+tcp://0x18520a8aaf5142e0d788db696bb46124b2e7bb9b.rig1@stratum.ubiq.cc:8008</pre>
			  </li>
                        </ul>	
                    </md-card-content>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text><span class="md-title">Phoenix Miner</span></md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">4.0b+</span>
                            <a href="https://bitcointalk.org/index.php?topic=2647654.0" target="_blank">Download</a>
                          </li>
                          <li class="list-group-item">
                            Example
                          </li>
                          <li class="list-group-item">
				<i>Windows</i>
				<pre>PhoenixMiner.exe -pool stratum.ubiq.cc:8008 -wal 0x18520a8aaf5142e0d788db696bb46124b2e7bb9b -worker rig1 -coin ubq</pre>
				<i>Linux</i>
				<pre>./PhoenixMiner -pool stratum.ubiq.cc:8008 -wal 0x18520a8aaf5142e0d788db696bb46124b2e7bb9b -worker rig1 -coin ubq</pre>
			  </li>
                        </ul>	
                    </md-card-content>
                </md-card>
            </div>

        </div>
    </md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Rent mining power</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <p class="md-body-1">Enter the stratum host and port and simply use your mining address as the username</p>
        <p class="md-caption">
            <ul>
                <li><a href="https://www.miningrigrentals.com?ref=19471" target="_blank">Mining Rig Rentals</a></li>
            </ul>
        </p>
    </md-card-content>
</md-card>

