<div ng-controller="AddressOutgoingController" ng-init="transactionsInit()">
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column><strong>To</strong></th>
                <th md-column><strong>Transaction</strong></th>
                <th md-column><strong>Amount</strong></th>
                <th md-column><strong>Date</strong></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="txn in outgoingTransactions">
                <td md-cell><a href="/address/{{txn.to}}">{{txn.to | knownMiners}}</a></td>
                <td md-cell><a href="/transaction/{{txn.hash}}">{{txn.hash | truncate:'50'}}</a></td>
                <td md-cell>{{txn.value | fromWei}}</td>
                <td md-cell>{{txn.timestamp+"000" | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="displayLimit" md-page="currentPage" md-total="{{totalTransactions}}" md-on-paginate="pageChanged" md-page-select></md-table-pagination>
</div>
