<div class="container">
    <md-card ng-width=100>
        <md-card-title>
            <md-card-title-text><span class="md-title"><h1>Transaction <small>Ubiq Transaction Info</small></h1></span></md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-cornered md-primary md-hue-1">
                <span ng-if="txn.blockNumber > 0">{{blockNum-txn.blockNumber}} Confirmations</span>
                <span ng-if="txn.blockNumber == undefined">Pending</span>
            </md-button>
            <md-button class="md-raised md-cornered md-accent md-hue-2">{{txn.value | fromWei}} UBQ</md-button>
        </md-card-actions>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell><strong>From</strong></td>
                            <td md-cell><a href="/address/{{txn.from}}">{{txn.from}}</a></td>
                            <td md-cell colspan="2"><a href="/address/{{txn.from}}">{{txn.from | knownMiners: 0}}</a></td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>To</strong></td>
                            <td md-cell><span ng-if="txn.contract"><md-tooltip>Contract Execution</md-tooltip><md-icon md-font-library="material-icons" style="font-size: 18px;" aria-label="Contract Execution">transform</md-icon></span><a href="/address/{{txn.to}}">{{txn.to}}</a></td>
                            <td md-cell colspan="2"><a href="/address/{{txn.to}}">{{txn.to | knownMiners: 0}}</a></td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Amount</strong></td>
                            <td md-cell>{{txn.value | fromWei}} UBQ</td>
                            <td md-cell>${{txn.value | fromWei | toUSD}}</td>
                            <td md-cell>{{txn.value | fromWei | toBTC}} BTC</td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Block Hash</strong></td>
                            <td md-cell colspan="3"><a href="/block/{{txn.blockHash}}">{{txn.blockHash}}</a></td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Received</strong></td>
                            <td md-cell>
                                <span ng-if="txn.blockNumber > 0">{{blockInfo.timestamp | relativetime }}</span>
                            </td>
                            <td md-cell colspan="2"><span ng-if="txn.blockNumber > 0">{{blockInfo.timestamp+"000" | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Block</strong></td>
                            <td md-cell colspan="3"><a href="/block/{{txn.blockNumber}}">{{txn.blockNumber}}</a></td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Gas</strong></td>
                            <td md-cell colspan="3">{{txn.gas}}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Gas Price</strong></td>
                            <td md-cell colspan="3">{{txn.gasPrice}}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Previous Transactions</strong></td>
                            <td md-cell colspan="3">{{txn.nonce}}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Transaction Cost</strong></td>
                            <td md-cell colspan="3">{{txn.txprice | fromWei}}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell><strong>Data</strong></td>
                            <td md-cell colspan="3">{{txn.input}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
</div>
<div ng-data-include="'template/misc/adsense.html'"></div>
