<md-table-container>
    <table md-table>
        <tbody md-body>
            <tr md-row>
                <td md-cell><strong>Address</strong></td>
                <td md-cell>{{addressId}}</td>
                <td md-cell colspan="2">{{addressId | knownMiners: 0}}</td>
            </tr>
            <tr md-row>
                <td md-cell><strong>Balance</strong></td>
                <td md-cell>{{balance | fromWei}} UBQ</td>
                <td md-cell>${{balance | fromWei | toUSD}}</td>
                <td md-cell>{{balance | fromWei | toBTC}} BTC</td>
            </tr>
            <tr md-row ng-show="tokenBalance.length > 0">
                <td md-cell colspan="4"><strong>Token Balances</strong></td>
            </tr>
            <tr md-row ng-show="tokenBalance.length > 0">
                <td md-cell colspan="4">
                    <table md-table>
                        <tbody md-body>
                            <tr md-row>
                                <td md-cell><strong>Token</strong></td>
                                <td md-cell><strong>Symbol</strong></td>
                                <td md-cell colspan="3"><strong>Balance</strong></td>
                            </tr>
                                <tr md-row ng-repeat="balance in tokenBalance">
                                    <td md-cell><a href="/address/{{balance.tokenAddress}}">{{balance.token}}</a></td>
                                    <td md-cell>{{balance.symbol}}</td>
                                    <td md-cell>{{+balance.balance}}</td>
                                    <td md-cell>{{+balance.balance|tokenToBTC: balance.symbol}} BTC</td>
                                    <td md-cell>${{+balance.balance|tokenToUSD: balance.symbol}}</td>
                                </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr md-row>
                <td md-cell><strong>Incoming Transactions</strong></td>
                <td md-cell colspan="3">{{incomingTransactionCount}}</td>
            </tr>
            <tr md-row>
                <td md-cell><strong>Outgoing Transactions</strong></td>
                <td md-cell colspan="3">{{outgoingTransactionCount}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
