<div>
  <md-tabs md-border-bottom md-dynamic-height md-selected="ActiveTransactionsTab">
    <md-tab label="Incoming Transactions">
        <div data-ng-include="'template/Address/Incoming.html#buildId=a49c12a0-33c0-11e9-948f-7159125746da'"></div>
    </md-tab>
    <md-tab label="Outgoing Transactions">
        <div data-ng-include="'template/Address/Outgoing.html#buildId=a49c12a0-33c0-11e9-948f-7159125746da'"></div>
    </md-tab>
    <md-tab label="Incoming Tokens">
        <div data-ng-include="'template/Address/IncomingTokens.html#buildId=a49c12a0-33c0-11e9-948f-7159125746da'"></div>
    </md-tab>
    <md-tab label="Outgoing Tokens">
        <div data-ng-include="'template/Address/OutgoingTokens.html#buildId=a49c12a0-33c0-11e9-948f-7159125746da'"></div>
    </md-tab>
  </md-tabs>
</div>
