<div>
  <md-tabs md-border-bottom md-dynamic-height md-selected="ActiveTransactionsTab">
    <md-tab label="Incoming Transactions">
        <div data-ng-include="'template/Address/Incoming.html#buildId=3ff9ce90-3f6a-11e9-b646-55a4bd1cda6a'"></div>
    </md-tab>
    <md-tab label="Outgoing Transactions">
        <div data-ng-include="'template/Address/Outgoing.html#buildId=3ff9ce90-3f6a-11e9-b646-55a4bd1cda6a'"></div>
    </md-tab>
    <md-tab label="Incoming Tokens">
        <div data-ng-include="'template/Address/IncomingTokens.html#buildId=3ff9ce90-3f6a-11e9-b646-55a4bd1cda6a'"></div>
    </md-tab>
    <md-tab label="Outgoing Tokens">
        <div data-ng-include="'template/Address/OutgoingTokens.html#buildId=3ff9ce90-3f6a-11e9-b646-55a4bd1cda6a'"></div>
    </md-tab>
  </md-tabs>
</div>
