<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="Explorer" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="Explorer" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="Explorer" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="Explorer" class="no-js"> <!--<![endif]-->
<head>
<base href="http://192.168.0.118/index.html" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$root.title">UBIQ.cc - Ubiq Blockchain Explorer</title>
    <meta name="keywords" content="ubiq, blockchain, explorer, ubiq, ubiq explorer,ubiq blockchain, currency, ubiq currency, crypto, cryptocurrency, ubiq crypto, ubiq cryptocurrency, ubiq address info, ubiq block, blocks, block, ubiq block chain, mining pool, ubiq pool, ubiq mining pool, ubiq miner pool, pool">
    <meta name="Ubiq Blockchain explorer - network status - mining pool - ubiq.cc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="node_modules/angular-material-data-table/dist/md-data-table.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

</head>
<body style="background-color: #333333;">

     <md-toolbar class="ubiq-black" ng-controller="mainController">
        <div class="md-toolbar-tools">
            <a class="" href="/">
                <img class="nav-logo" src="images/ubiq-logo.png" alt="ubiq.cc - Ubiq Blockchain explorer">
            </a>
            <a href="/" class="navbar-brand nav-link">
                <h2>ubiq.cc</h2>
            </a>
            <span flex></span>
            <input type="text" placeholder="Enter a transaction hash, address or Block number" name="requestType" required  ng-model="searchString"  class="form-control search-bar"/>

            <md-button class="md-raised" aria-label="Search" ng-click="search()" hide-xs>Search</md-button>
	        <div class="md-tiny-holder" hide-gt-xs>
                <md-button class="md-fab md-tiny" ng-click="search()">
                    <md-icon style="font-size: 18px;" md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div data-ng-include src="'template/Main/Menu.html'"></div>

    <md-divider></md-divider>

    <main flex ng-view layout="column" layout-fill style="background-color: #333333;   overflow-y: auto;">

    </main>

    <footer class="ubiq-green-2">
        <p>
            © ubiq.cc - Ubiq Blockchain Explorer and Pool<br>
            Donations greatly appreciated - UBQ: <a href="http://www.ubiq.cc/address/0x18520a8aaf5142e0d788db696bb46124b2e7bb9b">0x18520a8aaf5142e0d788db696bb46124b2e7bb9b</a>
        </p>
        <p> <a href="https://github.com/jeffdoubleyou/ubiq-explorer">Fork me on GitHub</a> | <a href="/swagger/index.html" target="_blank">Public API</a></p>
    </footer>


<!--Libs-->

<script src="node_modules/angular/angular.min.js"></script> 
<script src="node_modules/angular-aria/angular-aria.js"></script> 
<script src="node_modules/angular-animate/angular-animate.js"></script> 
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/angular-moment/angular-moment.min.js"></script>
<script src="node_modules/angular-material-data-table/dist/md-data-table.js"></script>
<script src="node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>

<!--Charts-->
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"</script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

<!--Core-->

<script src="ubiq-explorer.052b8f20-08be-11e9-b3a4-7399326d88fa.js"></script><!--ubiq-explorer-js-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82401713-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
