<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column>Block</th>
                <th md-column>Hash</th>
                <th md-column>From</th>
                <th md-column>To</th>
                <th md-column>Value</th>
                <th md-column>Date</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="txn in recentTransactions.Transactions">
                <td md-cell><a href="/block/{{txn.number}}">{{txn.number}}</a></td>
                <td md-cell><a href="/transaction/{{txn.hash}}">{{txn.hash | truncate: '25'}}</a></td>
                <td md-cell><a href="/address/{{txn.from}}">{{txn.from | knownMiners: '25'}}</a></td>
                <td md-cell><span ng-if="txn.contract"><md-tooltip>Contract Execution</md-tooltip><md-icon md-font-library="material-icons" style="font-size: 18px;" aria-label="Contract Execution">transform</md-icon></span><a href="/address/{{txn.to}}">{{txn.to | knownMiners: '25'}}</a></td>
                <td md-cell>{{txn.value | fromWei}}</td>
                <td md-cell>{{txn.timestamp | relativetime }}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
