<div class="container">
    <md-card ng-width=100>
        <md-card-title>
        <md-card-title-text><span class="md-title"><h1>Block Time Evolution <small>Ubiq block time over last {{data.length}} blocks</small></h1></span></md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div class="panel-body" data-ng-include src="'template/Network/BlockTimeEvolution.html'">
        </md-card-content>
    </md-card>
</div>
<div ng-data-include="'template/misc/adsense.html'"></div>
