<div class="container">
    <md-card ng-width=100>
        <md-card-title>
        <md-card-title-text><div class="md-title"><h1>{{symbol}} Price History <small>{{price}} {{symbol}}/{{base}} - {{source}}</small></h1></div></md-card-title-text>
        </md-card-title>
        <md-card-content>
			<div class="panel-body" data-ng-include="'template/Exchange/PriceChart.html#buildId=f2658570-0a03-11e9-8691-778cdf99802b'"></div>
	</md-card-content>
	</md-card>
</div>
<div ng-data-include="'template/misc/adsense.html'"></div>
