<div class="container" ng-init="init()">
    <md-card ng-width=100>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">Recent Ubiq Blocks</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-cornered md-primary" ng-href="https://www.cryptopia.co.nz/Register?referrer=jeffw">Buy More Ubiq</md-button>
        </md-card-actions>
        <md-card-content>

            <div>
                <md-table-container infinite-scroll='pageChanged()'>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column><strong>Block</strong></th>
                                <th md-column colspan="2"><strong>Found By</strong></th>
                                <th md-column><strong>Difficulty</strong></th>
                                <th md-column><strong>Gas</strong></th>
                                <th md-column><strong>Date</strong></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="block in Blocks">
                                <td class="md-cell-nopad"><a ng-href="/block/{{block.block}}">{{block.block}}</a></td>
                                <td class="md-cell-nopad"><div blockie address="{{block.miner}}"></div></td>
                                <td md-cell><a ng-href="/address/{{block.miner}}">{{block.miner | knownMiners: '24'}}</a></td>
                                <td md-cell>{{block.difficulty | hashrate}}</td>
                                <td md-cell>{{block.gas}}</td>
                                <td md-cell>{{block.timestamp+"000" | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            <tr md-row>
                                <td md-cell colspan="3">Displaying {{Blocks.length}} of {{TotalBlocks}} Blocks</td>
                                <td md-cell>&nbsp;</td>
                                <td md-cell>
                                    <span class="nowScrolling" ng-show="scrolling">Loading...</span>
                                </td>
                                <td md-cell>
                                    <md-button ng-disabled="false" class="md-primary" ng-show="!scrolling" ng-click="pageChanged()">Load more</md-button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

        </md-card-content>
    </md-card>
</div>
<div ng-data-include="'template/misc/adsense.html'"></div>
