<hr/>

<div class="panel panel-default">
  <div class="panel-body">
    <table id="pool-info-table">
      <tr>
        <td colspan="2"><h3>Pool Fee lowered to .5%</h3>
      </tr>
      <tr>
       <td width="50%">
	<h5><span class="label label-success">NEW</span> Email alerts for offline workers</h5>
	<h5><span class="label label-info">Info</span> .25 UBQ minimum payment</h5>
	<h5><span class="label label-info">Info</span> Hourly Payments</h5>
	<h5><span class="label label-info">Info</span> 0.5% Pool Fee</h5>
	<h5><span class="label label-info">Info</span> Now supporting NiceHash</h5>
       </td>
       <td width="50%">
	<h5><span class="label label-info">Info</span> Transaction fees paid by pool</h5>
	<h5><span class="label label-info">Info</span> Full payout including uncles </h5>
	<h5><span class="label label-info">Info</span> Anonymous mining - no login required</h5>
	<h5><span class="label label-info">Info</span> Miner stats right on explorer page</h5>
       <td>
      </tr>
     </table>
  </div>
</div>

<h4>Ubiq Pool Hashrate</h4>
<div ng-controller="poolController">
<canvas id="hashrate-history" class="chart chart-line" chart-data="hashRateHistoryData" chart-labels="hashRateHistoryLabels" chart-series="series" chart-options="options" chart-colors="colors" height="120">

</canvas>
</div>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Stratum Mining</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <p class="md-body-1">For stratum mining, you can use any miner that supports stratum such as <a href="https://bitcointalk.org/index.php?topic=1433925.0">Claymore Miner</a>.  For ethminer / getwork stratum support, you can use <a href="https://github.com/Atrides/eth-proxy">eth-proxy</a>.</p>
        <span class="md-body-2">Stratum host and port</span>
        <p class="md-caption">
            stratum.ubiq.cc:8008
        </p>
    </md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">NiceHash mining</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <p class="md-body-1">If you're using nicehash, please point your miner to our NiceHash port 8088.</p>
        <span class="md-body-2">Stratum host and port</span>
        <p class="md-caption">
            stratum.ubiq.cc:8088
        </p>
    </md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Getwork / Ethminer</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <p class="md-body-1">Not recommended.  You may use getwork to mine Ubiq on our pool.  It's recommended to use stratum mining whenever possible.</p>
        <span class="md-body-2">Point your ethminer to:</span>
        <p class="md-caption">
            Linux: ethminer -F http://getwork.ubiq.cc:8888/YOURADDRESS/<worker> -G
            <br>
            Windows: ethminer.exe -F http://getwork.ubiq.cc:8888/YOURADDRESS/<worker> -G
        </p>
    </md-card-content>
</md-card>

<md-divider></md-divider>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Rent mining power</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <p class="md-body-1">Enter the stratum host and port and simply use your mining address as the username</p>
        <p class="md-caption">
            <ul>
                <li><a href="https://www.miningrigrentals.com?ref=19471" target="_blank">Mining Rig Rentals</a></li>
            </ul>
        </p>
    </md-card-content>
</md-card>

