<md-divider></md-divider>
<md-list class="md-dense" ng-cloak>
    <md-list-item class="md-3-line" ng-repeat="txn in recentTransactions.Transactions" md-colors="{background: 'grey-25'}">
    <div blockie address="{{txn.from}}" size="large"></div>

    <div class="md-list-item-text" layout="column">
        <h4>Hash: <a ng-href="/transaction/{{txn.hash}}">{{ txn.hash | truncate: '40'}}</a></h4>
        <h4>From: <a ng-href="/address/{{txn.from}}">{{ txn.from | knownMiners}}</a></h4>
        <h4>To: <a ng-href="/address/{{txn.to}}">{{ txn.to | knownMiners }}</a></h4>
        <p>
            <span hide-gt-xs>{{txn.value | fromWei}} UBQ</span>
            <span hide-xs>{{ txn.timestamp | relativetime }}</span>
        </p>
            <div class="md-secondary">
                <span ng-if="txn.contract"><md-tooltip>Contract Execution</md-tooltip><md-icon md-font-library="material-icons" style="font-size: 18px;" aria-label="Contract Execution">transform</md-icon></span>
            </div>
            <md-button class="md-secondary" hide-xs>{{ txn.value | fromWei }} UBQ</md-button>
            <div class="md-secondary" blockie address="{{txn.to}}" size="small"></div>
    </div>
    </md-list-item>
</md-list>
