<md-divider></md-divider>
<md-list class="md-dense" flex>
    <md-list-item class="md-3-line" ng-repeat="block in recentBlocks.Blocks" md-colors="{background: 'grey-25'}">
    <a ng-href="/address/{{block.miner}}"><div class="md-avatar" blockie address={{block.miner}} size="large" ng-href="/address/{{block.miner}}"></div></a>
    <div class="md-list-item-text" layout="column">
        <h3>Block #: <a ng-href="/block/{{block.block}}">{{ block.block }}</a></h3>
        <h4>Found by: <a ng-href="/address/{{block.miner}}">{{ block.miner | knownMiners: '30' }}</a></h4>
         <p>{{ block.timestamp | relativetime }}</p>
    </div>
    </md-list-item>
</md-list>
